out
dist
node_modules
.vscode-test/
*.vsix
/target/
*/target/
**/target/**/*
coverage
src-gen/formatter/target/**/*
src-gen/generator/target/**/*
docs/typedoc/*
docs/unfinished/*
docs/generated/*
!docs/generated/.gitkeep
test/e2e/.vagrant
test/e2e/setup-log.txt
test/e2e/*.iso
test/e2e/test.ps1
test/e2e/.env
test/manual/azure-devops-node-api/.env
demos/output/*
!demos/output/.gitkeep
.agents/**/*
skills-lock.json